$bg-contrast: #ECECEC;

html, body {
  height: 100vh;
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
  padding: 0;
  width: 100vw;
}

html {
  background-image: linear-gradient(to left bottom, #225a3c, #1c4b33, #173c29, #122e20, #0d2117);
  color: #ECECEC;
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

h1 {
  font-size: 40px;
  margin: 24px 0;
  padding: 0 36px;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#rpgtable {
  margin: 0 24px;

  .tabulator-cell {
    white-space: pre-line;
  }
}
